{% extends 'base.html' %}

{% block title %}Главная {% endblock %}

{% block content %}
<div class="starter-template">
    <h1>Загруженные таблицы</h1>
    <p class="lead">Чтоб открыть таблицу кликните на ее имя</p>
</div>

<div class="list-group">
    {% for table_name in table_names %}
    <div class="row align-items-center">
        <div class="col-lg-2">
            <small id="pubDate" class="form-text text-muted"> Добавлена {{ table_name.date_created|clean_date }}</small>
        </div>
        <div class="col">
            <a href="{{ url_for('views.uploaded_file',id = table_name.id) }}"
                class="list-group-item list-group-item-action rounded"> {{ table_name.description }} </a>
        </div>
        <div class="col-md-auto">
            <form form method="POST">
                <input type="hidden" name="index" value="{{table_name.id}}">
                <input type="submit" class="btn btn-lg btn-outline-danger" value="X">
            </form>
        </div>
    </div>
    {%endfor%}
</div>
{% endblock content %}