{% extends 'base.html' %}

{% block content %}

<ul class="list-group">
    {% for ward in wards %}

    <li class="list-group-item {% if ward['checked'] == True %}active{% endif %}">ПІБ:
        {{ ward['fullname'] }} Адреса {{ ward['address'] }} </li>


    {%endfor%}
</ul>
<div class="container-fluid pt-3">
    <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-center">
            <li class="page-item ">
                <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Previous</a>
            </li>
            <li class="page-item"><a class="page-link" href="#">1</a></li>
            <li class="page-item"><a class="page-link" href="#">2</a></li>
            <li class="page-item"><a class="page-link" href="#">3</a></li>
            <li class="page-item">
                <a class="page-link" href="#">Next</a>
            </li>
        </ul>
    </nav>
</div>

{% endblock %}